target/
.mvn
mvnw*
logs/
data/
/src/main/java/telemarketer/skittlealley/web/controller/AdminApi.java

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/config/mybatisGenerator.xml
/src/main/resources/config/production/
